<h1>posts</h1>
{{#link-to "posts.drafts" class="link-drafts"}}drafts{{/link-to}}
{{nav}}

{{#each model as |item|}}
  {{#link-to "index"}}{{item.name}}{{/link-to}}
  {{summary}}
{{/each}}
{{partial "footer"}}

<hr>

{{outlet}}
